---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
    <main>
        <Contact />
    </main>
</Layout>

<style>
    main {
        padding-top: 4rem;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
