---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import BentoGrid from "../components/BentoGrid.astro";
---

<Layout>
	<Navbar />
	<main class="relative z-10 pb-20">
		<Hero />
		<BentoGrid />
	</main>
</Layout>
