---
import { ClientRouter } from "astro:transitions";
import "@fontsource/inter";
import "../styles/global.css";
import GenieEffect from "../components/GenieEffect";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/letter-d.svg" />
		<link rel="icon" href="/letter-d.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Denisha Madhura</title>
		<ClientRouter />
	</head>
	<body class="bg-black text-white antialiased overflow-x-hidden">
		{/* Background ambient light */}
		<div
			class="fixed top-0 left-0 w-full h-full pointer-events-none z-0 overflow-hidden"
		>
			<div
				class="absolute top-[-10%] left-[-10%] w-[40%] h-[40%] bg-purple-900/20 rounded-full blur-[120px]"
			>
			</div>
			<div
				class="absolute bottom-[-10%] right-[-10%] w-[40%] h-[40%] bg-blue-900/20 rounded-full blur-[120px]"
			>
			</div>
		</div>
		<GenieEffect client:only="react" />
		<div id="app-container" class="relative min-h-screen">
			<slot />
		</div>
	</body>
</html>
