---
import { ClientRouter } from "astro:transitions";
import "@fontsource/inter";
import "../styles/global.css";
import GenieEffect from "../components/GenieEffect";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Denisha Madhura</title>
		<ClientRouter />
	</head>
	<body class="bg-black text-white antialiased overflow-x-hidden">
		<GenieEffect client:only="react" />
		<div id="app-container" class="relative min-h-screen">
			<slot />
		</div>
	</body>
</html>
